@import "../../../public/assets/styles/_variables/colors";

.swap {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  .pane {
    align-self: center;
    background-color: #131722;
    width: 75%;
    .orders {
      color: #d1d4dc;
      background-color: #131722;
      border: 0.1px solid transparentize(#d9dadb, 0.75);
      padding: 8px;
    }
  }
}
